{% extends 'joltem/base.html' %}
{% load markup %}
{% block title %}{{ task.title }} - Joltem{% endblock %}
{% block content %}
    <h3>{{ task.title }}</h3>
    <ul class="breadcrumb">
        <li><a href="{% url 'project:project' project.name %}">{{ project.name }}</a> <span class="divider">/</span></li>
        {% if task.parent %}
            <li><a href="{% url 'project:solution:solution' project.name task.parent_id %}">{{ task.parent.task.title }}</a> <span class="divider">/</span></li>
        {% endif %}
        <li class="active">{{ task.title }}</li>
    </ul>
    {% block task_content %}{% endblock %}
{% endblock %}