{% extends 'task/tasks_base.html' %}
{% block tasks_content %}
    <form method="post">
        {% csrf_token %}
        <p>
            <input class="span8" type="text" name="title" placeholder="Task title." /><br/>
            <textarea class="span8" rows=5 name="description" placeholder="Task description."></textarea><br/>
            {% if parent_solution %}
                <div class="alert alert-info">
                    This task will be placed under parent solution : <strong><a href="{% url 'project:solution:solution' project.name parent_solution.id %}">{{ parent_solution.task.title }}</a></strong>
                </div>
            {% endif %}
            <button class="btn btn-success" name="action" value="create_task">Create Task</button>
        </p>
    </form>
{% endblock %}