<div class="row">
    <div class="span1 text-center muted">
        {{ task.solution_set.count }}<br/>
        <small>solutions</small>
    </div>
    <div class="span8">
        <p>
            <a href="{% url 'project:task:task' project.name task.id %}">{{ task.title }}</a></br/>
            <small class="muted">
                by {{ task.owner.first_name }} on {{ task.time_posted|date }}
                {% if task.is_closed %}
                    / <span class="text-info">Closed on {{ task.time_closed|date }}</span>
                {% endif %}
                {% if task.subtasks > 0 %}
                    / <a href="{% url 'project:task:open' project.name task.id %}">{{ task.subtasks }} subtask{{ task.subtasks|pluralize }}</a>
                {% endif %}
            </small>
        </p>
    </div>
</div>