<div class="{{ offset }} span9">
    <p>
        <a href="{% url 'project:task:task' project.name task.id %}">{{ task.title }}</a></br/>
        <small class="muted">
            {% if task.priority == task.LOW_PRIORITY %}
                <i class="fa fa-circle-o" title="low priority"></i>
            {% elif task.priority == task.NORMAL_PRIORITY %}
                <i class="fa fa-circle" title="normal priority"></i>
            {% else %}
                <i class="fa fa-asterisk" title="high priority"></i>
            {% endif %}
            by <a href="{% url 'user' task.author.username %}" class="muted">{{ task.author.first_name }}</a> on {{ task.time_posted|date }}
            {% if task.is_closed %}
                <span class="hidden-phone">/ <span class="text-info">Closed on {{ task.time_closed|date }}</span></span>
            {% endif %}
        </small>
    </p>
</div>
<div class="span1 text-center muted hidden-phone">
    {{ task.solution_set.count }}<br/>
    <small>solutions</small>
</div>
