{% extends 'task/tasks_base.html' %}
{% block tasks_content %}
    <div class="alert alert-info">
        <strong>Parent task : </strong>{{ parent_task.title }}
    </div>
    {% for subtask_group in subtask_groups %}
        <div class="alert text-center">
            <a href="{% url 'project:solution:solution' project.name subtask_group.solution.id %}" class="muted">
                Tasks for solution by {{ subtask_group.solution.user.first_name }}
            </a>
        </div>
        {% for task in subtask_group.subtask_set %}
            {% include 'task/task_row.html' %}
        {% endfor %}
    {% empty %}
        <p>There are no open subtasks for this task.</p>
    {% endfor %}
{% endblock %}