{% extends 'joltem/base.html' %}
{% block content %}
    {% if assigned %}
        <p class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Assigned : {{ assigned.username }}
        </p>
    {% endif %}
    {% if removed %}
        <p class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Removed : {{ removed.username }}
        </p>
    {% endif %}
    <h3>{{ task_branch.task.title }}</h3>
    <p>{{ task_branch.task.description }}</p>
    <form method="post" class="form-inline">
        {% csrf_token %}
        <input type="text" name="assignee" placeholder="enter username" />
        <button class="btn" name="action" value="assign" type="submit">Assign</button>
        <dl class="dl-horizontal">
            {% for assignee in task_branch.assignees.all %}
                <p><button class="btn btn-danger btn-small" type="submit" name="remove" value="{{ assignee.username }}">Remove</button> {{ assignee.username }}</p>
            {% endfor %}
        </dl>
    </form>
    <p></p>
{% endblock %}