{% extends "joltem/emails/base.html" %}

{% block title %}Daily Digest{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
    {% for notification in notifies %}
        <table>
            <tbody>
                <tr>
                    <td>
                        <p>{{ notification.get_text }}.</p>
                    </td>
                    {% url "notification_redirect" notification.id as notification_redirect %}
                    <td><a href="http://{{ host }}{{ notification_redirect }}" target="_blank">>></a></td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
