{% extends "joltem/emails/base.html" %}

{% block title %}Hangout Invitation{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
    <p>Hi {{ user.first_name }},</p>

    <p>
        Thank you for signing up for Joltem. I want to personally invite you to our weekly Google Hangout. The Hangout is a perfect place to get your questions answered, give feedback, and introduce yourself.
    </p>

    <p>
        We are trying to build a community that can undertake projects together without the limits of borders. While our numbers are currently small the Hangout is the best way to get your voice heard. I highly encourage you to participate.
    </p>

    <p>
        All our Hangouts events are listed on our Google+ page at :<br/>
        <a href="https://plus.google.com/+Joltem/">https://plus.google.com/+Joltem/</a>
    </p>

    <p>
        See you there,<br/>
        Emil
    </p>
{% endblock %}