*.log
*.log.*
*.pem
*.pid
*.pyc
.DS_Store
.coverage
.env
.idea
.ropeproject
.tags
.vagrant
.vimrc
.idea

/collected_static/
/deploy/.vagrant
_trial_temp
coverage.xml
gateway/id_rsa
gateway/id_rsa.pub
joltem/settings/chefenv.py
joltem/settings/local.py
nosetests.xml
*.pylama
workspace.xml
wsgi.py

# Gitolite - deprecated

git/gitolite/gitolite-admin
git/gitolite/keydir
git/repositories
gitolite-update
celerybeat-schedule

static
