[submodule "vagrant/cookbooks/apt"]
	path = vagrant/cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "vagrant/cookbooks/sudo"]
	path = vagrant/cookbooks/sudo
	url = https://github.com/opscode-cookbooks/sudo
[submodule "vagrant/cookbooks/build-essential"]
	path = vagrant/cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential
[submodule "vagrant/cookbooks/locale"]
	path = vagrant/cookbooks/locale
	url = git://github.com/hw-cookbooks/locale.git
[submodule "vagrant/cookbooks/timezone"]
	path = vagrant/cookbooks/timezone
	url = git://github.com/niku/chef-timezone.git
[submodule "vagrant/cookbooks/user"]
	path = vagrant/cookbooks/user
	url = git://github.com/fnichol/chef-user.git
[submodule "vagrant/cookbooks/python"]
	path = vagrant/cookbooks/python
	url = https://github.com/opscode-cookbooks/python
[submodule "vagrant/cookbooks/runit"]
	path = vagrant/cookbooks/runit
	url = https://github.com/opscode-cookbooks/runit
[submodule "vagrant/cookbooks/redis"]
	path = vagrant/cookbooks/redis
	url = git://github.com/ctrabold/chef-redis.git
[submodule "vagrant/cookbooks/openssl"]
	path = vagrant/cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl
[submodule "vagrant/cookbooks/yum"]
	path = vagrant/cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum
[submodule "vagrant/cookbooks/java"]
	path = vagrant/cookbooks/java
	url = https://github.com/opscode-cookbooks/java
[submodule "vagrant/cookbooks/aws"]
	path = vagrant/cookbooks/aws
	url = https://github.com/opscode-cookbooks/aws
[submodule "vagrant/cookbooks/windows"]
	path = vagrant/cookbooks/windows
	url = https://github.com/opscode-cookbooks/windows
[submodule "vagrant/cookbooks/chef_handler"]
	path = vagrant/cookbooks/chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler
[submodule "vagrant/cookbooks/apache2"]
	path = vagrant/cookbooks/apache2
	url = https://github.com/opscode-cookbooks/apache2
[submodule "vagrant/cookbooks/iptables"]
	path = vagrant/cookbooks/iptables
	url = https://github.com/opscode-cookbooks/iptables
[submodule "vagrant/cookbooks/jenkins"]
	path = vagrant/cookbooks/jenkins
	url = https://github.com/opscode-cookbooks/jenkins
