*.deb
*.log
*.log.*
*.pem
*.pid
*.pyc
*.pylama
.DS_Store
.coverage
.env
.idea
.idea
.ropeproject
.tags
.vagrant
.vimrc
/whoosh_index
/build
/celerybeat-schedule
/collected_static
/static
_trial_temp
coverage.xml
gateway/id_rsa
gateway/id_rsa.pub
joltem/settings/chefenv.py
joltem/settings/local.py
nosetests.xml
workspace.xml
