*.log
*.log.*
*.pem
*.pid
*.pyc
.DS_Store
.coverage
.env
.idea
.ropeproject
.tags
.vagrant
.vimrc
/collected_static/
/deploy/.vagrant
_trial_temp
coverage.xml
gateway/id_rsa
gateway/id_rsa.pub
git/gitolite/gitolite-admin
git/gitolite/keydir
git/repositories
gitolite-update
joltem/settings/chefenv.py
joltem/settings/local.py
nosetests.xml
pylama.ini
pylama.report
workspace.xml
wsgi.py
