# Production
# ==========
django>=1.5.0
south
mysql-python
pygit2==0.18.0
markdown>=2.1
django-mathfilters

# Develop
# =======
django-extensions
django-debug-toolbar

# QA
# ==
pylama
ipdb

# Tests
# =====
mixer
