{% extends 'joltem/base.html' %}
{% load filters %}
{% block title %}Account - Joltem{% endblock %}
{% block content %}
    <div class="row">
        <div class="span2">
            <ul class="nav nav-list well">
                <li class="{{ account_tab|active:"account" }}"><a href="{% url 'account' %}">Account</a></li>
                <li class="{{ account_tab|active:"keys" }}"><a href="{% url 'account_keys' %}">Keys</a></li>
                <li class="{{ account_tab|active:"change_password" }}"><a href="{% url 'password_change' %}">Change password</a></li>
            </ul>
        </div>
        <div class="span10">
            {% block account_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
