{% load static from staticfiles %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Joltem{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'joltem/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'joltem/css/bootstrap-responsive.css' %}" rel="stylesheet">

    <style>
        @media (min-width: 980px) {
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        }
    </style>
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% block brand %}<a class="brand" href="{% url 'home' %}" style="padding: 5px 0px"><img src="{% static 'joltem/img/icon-brand.png' %}" alt="Joltem" /></a>{% endblock %}
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {% block nav %}{% endblock %}
                    <li class="divider-vertical"></li>
                    {% if user.is_superuser %}
                        <li class="{{ nav_tab|active:"invite"}}"><a href="{% url 'invites' %}">Invite</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="{{ nav_tab|active:"account"}}"><a href="{% url 'account' %}">Account</a></li>
                        <li><a href="{% url 'sign_out' %}" title="Click to sign out.">Hello, {{ user.first_name }}</a></li>
                    {% else %}
                        <li class="{{ nav_tab|active:"in"}}"><a href="{% url 'sign_in' %}">Sign in</a></li>
                        <li class="{{ nav_tab|active:"up"}}"><a href="{% url 'sign_up' %}">Sign up</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>





<div class="container">
    {% block content %}{% endblock %}
</div> <!-- /container -->


<div id="footer">
    <div class="container">
        <hr/>
        <p class="muted credit text-center">&copy; Joltem</p>
    </div>
</div>

<script src="{% static 'joltem/js/jquery.js' %}"></script>
<script src="{% static 'joltem/js/bootstrap.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>