{% load markup %}
{% for comment_holder in comments %}
    {% with comment=comment_holder.comment %}
        <a name="comment-{{ comment.id }}" class="anchor-fix"></a>
        <div class="row">
            <div class="row hidden-desktop hidden-tablet">
                <div class="span8">
                    <img class="img-rounded pull-right" src="{{ comment.owner.gravatar }}?s=50" /></p>
                    <h4><a href="{% url 'user' comment.owner.username %}">{{ comment.owner.first_name }}</a></h4>
                    <p><b>{{ comment.owner.impact }}</b> impact <b>{{ comment.owner.completed }}</b> solutions</p>
                </div>
            </div>
            <div class="span2 text-center hidden-phone">
                <p>
                    <img class="img-rounded" src="{{ comment.owner.gravatar }}?s=75" /><br/>
                </p>
                <p>
                    <b><a href="{% url 'user' comment.owner.username %}">{{ comment.owner.first_name }}</a></b><br/>
                </p>
            </div>
            <div class="span8">
                <p>
                    <small><a href="{{ comment_holder.url }}" class="muted">{{ comment.time_commented|date }} @ {{ comment.time_commented|time }}</a></small>
                </p>
                <div id="comment-edit-{{ comment.id }}" class="comment {% if comment_holder.is_author %}editable_comment{% endif %}" data-id="{{ comment.id }}" data-loadurl="{% url 'comment' comment.id %}">
                    {{ comment.comment|markdown:"tables,fenced_code" }}
                </div>
                {% if comment_holder.is_author %}
                    <span class="muted" id="activate-comment-edit-{{ comment.id }}">
                        <a class="muted" href="{{ comment_holder.url }}" onclick="edit_comment({{ comment.id }}); return true;">edit</a> -
                        <a class="muted" href="{{ comment_holder.url }}" onclick="delete_comment({{ comment.id }}); return false;">delete</a>
                    </span>
                {% endif %}
            </div>
            <div class="span2 text-center">
                {% with vote=comment_holder.vote %}
                    {% if vote or comment_holder.is_author %}
                        <p>
                            <small>
                                <a href="#" onclick="$('#comment-votes-{{ comment.id }}').toggle(); return false;" class="muted">
                                    {% if comment.impact %}
                                        <strong>{{ comment.impact }}</strong> impact,
                                        <strong>{{ comment_holder.vote_count }}</strong> vote{{ comment_holder.vote_count|pluralize }}
                                    {% endif %}
                                </a>
                            </small>
                        </p>
                    {% endif %}
                    {% if not comment_holder.is_author %}
                        {% include 'solution/review_comment_vote.html' %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        {% if comment_holder.vote_count > 0 %}
            <div id="comment-votes-{{ comment.id }}" style="display:none;">
                <hr/>
                <div class="row">
                    {% with accept_votes=comment_holder.accept_votes reject_votes=comment_holder.reject_votes %}
                        {% include 'solution/review_comment_votes.html' %}
                    {% endwith %}
                </div>
            </div>
        {% endif %}
    {% endwith %}
    <hr/>
{% endfor %}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="offset2 span8">
            <textarea class="input-block-level" rows=5 name="comment" placeholder="Add a comment."></textarea>
            <button class="btn" type="submit">Comment</button>
        </div>
    </div>
</form>
