{% load markup %}
{% for comment_holder in comments %}
    {% with comment=comment_holder.comment %}
        <div class="row">
            <div class="row hidden-desktop hidden-tablet">
                <div class="span8">
                    <img class="img-rounded pull-right" src="https://secure.gravatar.com/avatar/{{ comment.owner.get_profile.gravatar_hash }}?s=50" /></p>
                    <h4><a href="{% url 'user' comment.owner.username %}">{{ comment.owner.first_name }}</a></h4>
                    <p><b>{{ comment.owner.get_profile.impact }}</b> impact <b>{{ comment.owner.get_profile.completed }}</b> solutions</p>
                </div>
            </div>
            <div class="span2 text-center hidden-phone">
                <p>
                    <img class="img-rounded" src="https://secure.gravatar.com/avatar/{{ comment.owner.get_profile.gravatar_hash }}?s=75" /><br/>
                </p>
                <p>
                    <b><a href="{% url 'user' comment.owner.username %}">{{ comment.owner.first_name }}</a></b><br/>
                </p>
            </div>
            <div class="span8">
                <p>
                    <small class="muted">{{ comment.time_commented|date }} @ {{ comment.time_commented|time }}</small>
                </p>
                {{ comment.comment|markdown:"tables,fenced_code" }}
            </div>
            <div class="span2 text-center">
                {% with vote=comment_holder.vote %}
                    {% if vote or comment_holder.is_author %}
                        <p>
                            <small class="muted">
                                {% if comment.impact %}
                                    <strong>{{ comment.impact }}</strong> impact,
                                    <strong>{{ comment_holder.vote_count }}</strong> vote{{ comment_holder.vote_count|pluralize }}
                                {% endif %}
                            </small>
                        </p>
                    {% endif %}
                    {% if not comment_holder.is_author %}
                        {% include 'solution/review_comment_vote.html' %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    {% endwith %}
    <hr/>
{% endfor %}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="offset2 span8">
            <textarea class="input-block-level" rows=5 name="comment" placeholder="Add a comment."></textarea>
            <button class="btn" type="submit">Comment</button>
        </div>
    </div>
</form>