{% extends 'joltem/base.html' %}
{% load static from staticfiles %}
{% load markup %}
{% block title %}Invitation - Joltem{% endblock %}
{% block content %}
    <div class="row hidden-phone">
        <div class="offset6 span6 text-right" style="position: fixed; height: 100%;">
            <h1 style="position: relative; top: 0em;">What could <span class="text-info">a million</span> people build together?</h1>
            <img class="img-circle" src="{% static 'joltem/img/shuttle.jpg' %}" style="position: relative; top: 3em;">
        </div>
    </div>
    <div class="row">
        <div class="span6">
<h2 class="hidden-desktop">What could <span class="text-info">a million</span> people build together?</h2>

<p>Technology is urging us to collaborate, however there is an antiquated fear holding us back.</p>

<p>Massive collaboration requires openness, and companies fear open innovation. This relegates collaboration to highly fragmented efforts and poorly funded nonprofits.</p>

<p>Seeking foremost investments of labor instead of capital, openly collaborative efforts would democratize the process of innovation and lower its costs.  Led by a collective conviction in a common mission they would create transcendent products.</p>

<p>Our goal is to facilitate the launch of companies which innovate openly. We have developed a simple system to make this happen and it is detailed on the rest of the page.</p>

<p>We are working to let the world think ambitiously, and we want you to join us.</p>

<p><a href="{% url 'sign_up' %}" class="btn btn-success btn-large">Sign up</a></p>

<h4>Overview</h4>

<p>The platform we are building is going to allow anybody to form a company, amass a giant workforce, and raise capital on the merits of an idea.</p>

<p>At the inception of an idea, a detailed proposition is written up by the founder detailing the project. After determining the general structure of the proposed company, the founder reveals the idea to the public in hopes of attracting a workforce.</p>

<p>Over time equity in the company is split up amongst the workforce based on metrics that measure the value of their contributions.</p>

<h4>Work</h4>

<p>The project is split up into a set of tasks. Solutions to tasks can provided by anyone who is willing to contribute. Each solution may contain its own set of tasks and suggested solutions. This allows for continuous delegation of work and a massive variation of solutions to each task.</p>

<p>Each solutions is designated a branch name in each repository of the project and only the initiator of the solution has push access to the particular branch. As solutions are completed, the initiator of the parent task has the responsibility of condensing the provided solutions into one solution. This is similar to concepts in parallel computing where tasks are performed by individual components and repeatedly combined.</p>

<p>On completion of a solution, a peer review determines the value of a given solution. The review results in two important metrics : impact and acceptance. Impact is analogous to value and acceptance is an impact weighted gauge for the acceptability of a solution.  If acceptance is below a certain threshold, the user won’t be rewarded impact for the solution.</p>

<p>Comments left in code reviews and discussions can also be voted on. Helping determine an impact throughout the development process and promoting thorough work reviews.</p>

<h4>Compensation</h4>

<p>Impact will always be backed by a pool of company stock, like an employee pool in regular companies. As work is completed on the project, users will accumulate impact through the review process. The impact the user accumulates can be seen as the amount of work he or she has done for the company. The total impact, a sum of all the impacts accumulated by all the users on the project, can be viewed as the total amount of work to get the project to that particular state.</p>

<p>Periodically users will be able to exchange a portion of their impact for company stock. The exchange rate is determined by dividing the size of the remaining backing stock pool by the total non-exchanged impact at the time of the exchange event. The periodicity of the exchange events rewards people who accumulated the most impact earliest in the project’s development by allowing them to exchange at higher rates.</p>

<p>At any point the company’s board, which is initially just the founders, can decide to exchange the remaining backing pool at the current exchange rate or to allocate more stock for the backing pool. If the the board decides on any action that may lower the value of the backing pool, such as a financing round or allocating stock to hire regular employees, they must file a proposition with the project participants and have them approve it.</p>

<h4>Financing</h4>

<p>To initiate a round of financing the board, must submit a plan with the amount of stock that will be sold and the minimum acceptable pre-money valuation for the company. A simple yay or nay vote from the project participants will determine an impact-weighted acceptance for the financing round.</p>

<p>If financing is approved, project participants will bid blindly by submitting valuations coupled with the amount of stock they wish to purchase. With impact as a tiebreaker, the stock will be distributed amongst the bidders to provide the maximum valuation possible. Afterwards if some of the originally provisioned stock remains, the board may decide to have a follow up round with outside investors.</p>

<p>There are currently SEC regulations preventing the sale of equity in privately held companies to non-accredited investors in the United States, however the current Jumpstart Our Business Startups Act attempts to make crowdfunding accessible to startups. We will pursue the crowdfunding model, but until the laws catch up with reality funds will need to be raised from accredited investors.</p>

<h4>Specifics</h4>

<p>This project, which you have been invited to join, is structured like so :</p>

<p>85% of the company’s equity is backing impact, the other 15% is designated to founders and angel investors. Annually on the anniversary of the public release of the site 25% of non-exchanged impact will be available to exchange for stock.</p>

<p>Before the public release, as an early participant, you will also have the opportunity to submit your own ideas and become founders.</p>

<p><a href="{% url 'sign_up' %}" class="btn btn-success btn-large">Sign up</a></p>


    </div>
</div>
{% endblock %}