{% extends 'joltem/base.html' %}
{% block title %}Invites - Joltem{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <h4>Contacted</h4>
        {% for invite in contacted_invites %}
            {% include "joltem/invite_row.html" %}
        {% empty %}
            <p class="muted">No contacted invites at the moment.</p>
        {% endfor %}
        <hr/>
        <h4>Signed Up</h4>
        {% for invite in signed_up_invites %}
            {% include "joltem/invite_row.html" %}
        {% empty %}
            <p class="muted">No signed up invites at the moment.</p>
        {% endfor %}
        <hr/>
        <h4>Potential</h4>
        {% for invite in potential_invites %}
            {% include "joltem/invite_row.html" %}
        {% empty %}
            <p class="muted">No potential invites at the moment.</p>
        {% endfor %}
        <hr/>
        <div class="row">
            <div class="span6">
                <input type="text" placeholder="First name" name="first_name" class="input-block-level"/><br/>
                <input type="text" placeholder="Last name" name="last_name" class="input-block-level"/><br/>
                <textarea placeholder="Personal note about invitee." name="personal_note" class="input-block-level" rows="10"></textarea>
            </div>
            <div class="span6">
                <input type="text" placeholder="Email" name="email" class="input-block-level"/><br/>
                <input type="text" placeholder="Personal site" name="personal_site" class="input-block-level"/><hr/>
                <input type="text" placeholder="Twitter" name="twitter" class="input-block-level"/><br/>
                <input type="text" placeholder="Facebook" name="facebook" class="input-block-level"/><br/>
                <input type="text" placeholder="StackOverflow" name="stackoverflow" class="input-block-level"/><br/>
                <input type="text" placeholder="GitHub" name="github" class="input-block-level"/><br/>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <button type="submit" class="btn btn-success">Create invitation</button>
            </div>
        </div>
    </form>
{% endblock %}