{% load markup %}
<p>
    Hello {{ invite.name }},
</p>

<p>
    Let me first start out by defining the problem we are looking to solve :<br/>
    <em>How can a workforce scale into the millions?</em>
</p>

<p>
    The internet has scaled by orders of magnitude many of our interactions. In rare instances like Wikipedia it has shown us glimpses of what is possible if our workforces scale as well. However as it currently stands most startups are founded by groups of less than five and developers outside of places like Silicon Valley are often forced to work alone which leads to a general lack of ambition.
</p>

<p>
    We believe the companies of tomorrow will attain workforces with millions of people nearly instantaneously and ambitious ideas will be pursued with unimaginable ease. What we propose here is a company to make this real by first focusing on the people most capable of accepting this idea - programmers.
</p>

<p>
    We have developed a simple system that allows people to recursively divide up programming work into smaller tasks and delegate them to others. On completion of tasks peer review determines the <em>impact</em> of each solution. Accumulated <em>impact</em>, which is backed by a pool of company stock, can periodically be converted into stock.
</p>

<p>
    {{ invite.personal_message|markdown }}
</p>

<p>
    Thank you for your time.
</p>
