{% extends 'joltem/base.html' %}
{% block title %}Invites - Joltem{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for invite in invites %}
            <div class="row">
                <div class="span3">
                    <p>
                        <strong><a href="{% url 'invite' invite.id %}">{{ invite.full_name }}</a></strong>
                    </p>
                </div>
                <div class="span6">
                    {% if invite.personal_site %}
                        <a href="{{ invite.personal_site }}" target="_blank" class="btn btn-mini"><i class="icon-globe"></i></a>
                    {% endif %}
                    {% if invite.email %}
                        <a href="mailto:{{ invite.email }}" target="_blank" class="btn btn-mini"><i class="icon-envelope"></i></a>
                    {% endif %}
                    {% if invite.twitter %}
                        <a href="{{ invite.twitter }}" target="_blank" class="btn btn-mini">twitter</a>
                    {% endif %}
                    {% if invite.facebook %}
                        <a href="{{ invite.facebook }}" target="_blank" class="btn btn-mini">facebook</a>
                    {% endif %}
                    {% if invite.stackoverflow %}
                        <a href="{{ invite.stackoverflow }}" target="_blank" class="btn btn-mini">stack</a>
                    {% endif %}
                </div>
                <div class="span3 text-center">
                    {% if invite.is_signed_up %}
                        <small class="text-success">Signed up on {{ invite.time_signed_up|date }}.</small>
                    {% elif invite.is_clicked %}
                        <small class="text-info">Clicked on {{ invite.time_clicked|date }}.</small>
                    {% elif invite.is_sent %}
                        <small class="muted">Sent on {{ invite.time_sent|date }}.</small>
                    {% else %}
                        <button class="btn btn-success btn-mini" name="mark_sent" value="{{ invite.id }}">mark sent</button>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p class="muted">No invites at the moment.</p>
        {% endfor %}
        <hr/>
        <div class="row">
            <div class="span6">
                <input type="text" placeholder="First name" name="first_name" class="input-block-level"/><br/>
                <input type="text" placeholder="Last name" name="last_name" class="input-block-level"/><br/>
                <textarea placeholder="Personal note about invitee." name="personal_note" class="input-block-level" rows="10"></textarea>
            </div>
            <div class="span6">
                <input type="text" placeholder="Email" name="email" class="input-block-level"/><br/>
                <input type="text" placeholder="Personal site" name="personal_site" class="input-block-level"/><hr/>
                <input type="text" placeholder="Twitter" name="twitter" class="input-block-level"/><br/>
                <input type="text" placeholder="Facebook" name="facebook" class="input-block-level"/><br/>
                <input type="text" placeholder="StackOverflow" name="stackoverflow" class="input-block-level"/><br/>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <button type="submit" class="btn btn-success">Create invitation</button>
            </div>
        </div>
    </form>
{% endblock %}