{% extends 'joltem/account_base.html' %}
{% block account_content %}
    <form  method="post">
        {% csrf_token %}
        {% for key in keys %}
            <div class="row">
                <div class="pull-right hidden-desktop hidden-tablet">
                    <button class="btn btn-mini" name="remove" value="{{ key.id }}">remove</button>
                </div>
                <div class="span1 hidden-phone">
                    <button class="btn btn-mini" name="remove" value="{{ key.id }}">remove</button>
                </div>
                <div class="span9">
                    <p class="text-info"><i class="icon-briefcase"></i> {{ key.name }}</p>
                    <pre>{{ key.key }}</pre>
                </div>
            </div>
        {% empty %}
            <div class="row">
                <div class="span10">
                    <div class="alert alert-info">
                        <strong>Add an authentication key</strong> to get started.
                    </div>
                    <p class="muted">
                        You have not added any SSH authentication keys yet, add an authentication key below to be able to push and pull commits.
                    </p>
                </div>
            </div>
        {% endfor %}
        <hr>
        <div class="row">
            <div class="span10">
                <small class="help-block">
                    <i class="icon-question-sign"></i>
                    Authentication keys are used to identify and authenticate your workstation,
                    so you can push and pull commits without entering a password each time.<br/>
                </small>
                <input type="text" class="input-block-level" name="name" placeholder="Specify a name for this key, i.e. 'Jill's Macbook' "/>
                <small class="help-block">
                    <i class="icon-globe"></i> <a class="text-info" href="http://www.linuxproblem.org/art_9.html" target="_blank">How to get a SSH key?</a>
                </small>
                <textarea class="input-block-level" rows="10" name="key" placeholder="Paste SSH authentication key here."></textarea>
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </div>
    </form>
{% endblock %}