{% extends 'joltem/base.html' %}
{% block title %}Joltem - Openly collaborate to build and launch a startup.{% endblock %}
{% block description %}A platform that helps people spontaneously come together and work on the best startup ideas.{% endblock %}
{% block body_class %}landing{% endblock %}
{% block message %}{% endblock %}
{% block content %}
    <div class="introduction text-center">
        <h1>an open incubator.</h1>
        <h3 class="tagline">
            openly collaborate to build and launch a startup <i class="fa fa-rocket"></i>
        </h3>
        <hr/>
        <p>
            We are openly building a platform that helps people spontaneously come together and work on the best startup ideas.
        </p>
        <p>
            <a class="btn btn-large" href="{% url 'project:project' '1' %}"><b>enter</b></a>
            <a class="btn btn-large" href="{% url 'help:index' %}"><b>more<span class="hidden-phone"> info</span></b></a>
        </p>
        <p>
            <a href="https://twitter.com/thejolted"><i class="fa fa-twitter social"></i></a>
            <a href="https://plus.google.com/u/0/106027363250938473661/"><i class="fa fa-google-plus social"></i></a>
            <a href="https://www.facebook.com/joltem"><i class="fa fa-facebook social"></i></a>
        </p>
    </div>
{% endblock %}
{% block footer %}{% endblock %}