{% extends 'joltem/base.html' %}
{% block title %}Notifications - Joltem{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <h4>Notifications <button class="btn btn-mini pull-right" name="clear_all" value="1"><i class="fa fa-list"></i> clear all</button></h4>
        {% for notification in notification_list %}
            <div class="row">
                <div class="span12">
                    <p>
                        {% if not notification.is_cleared %}
                            <strong><a href="{% url "notification_redirect" notification.id %}">{{ notification.get_text }}</a><br/></strong>
                        {% else %}
                            <a class="muted" href="{% url "notification_redirect" notification.id %}">{{ notification.get_text }}</a><br/>
                        {% endif %}
                        <small class="muted">{{ notification.time_notified|date}} @ {{ notification.time_notified|time}}</small>
                    </p>
                </div>
            </div>
        {% empty %}
            <p class="muted">You have no notifications.</p>
        {% endfor %}
    </form>
    {% include 'joltem/includes/pagination.html' %}
{% endblock %}
