{% extends 'joltem/base.html' %}
{% block content %}
    {# TODO move this passwords don't match error below #}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" name="invite_code" value="{{ invite.invite_code }}" />
        <div class="control-group {% if form.username.errors %}error{% endif %}">
            <label class="control-label" for="id_username">Username</label>
            <div class="controls" id="id_username">
                {{ form.username }}
                {% if form.username.errors %}
                    {% include 'joltem/form_field_errors.html' with errors=form.username.errors %}
                {% else %}
                    <small class="help-inline">Make it unique.</small>
                {% endif %}
            </div>
        </div>
        <hr/>
        <div class="control-group {% if form.first_name.errors %}error{% endif %}">
            <label class="control-label" for="id_first_name">First Name</label>
            <div class="controls" id="id_first_name">
                {{ form.first_name }}
                {% include 'joltem/form_field_errors.html' with errors=form.first_name.errors %}
            </div>
        </div>
        <div class="control-group {% if form.last_name.errors %}error{% endif %}">
            <label class="control-label" for="id_last_name">Last Name</label>
            <div class="controls" id="id_last_name">
                {{ form.last_name }}
                {% if form.last_name.errors %}
                    {% include 'joltem/form_field_errors.html' with errors=form.last_name.errors %}
                {% else %}
                    <small class="help-inline">Optional.</small>
                {% endif %}
            </div>
        </div>
        <div class="control-group {% if form.email.errors %}error{% endif %}">
            <label class="control-label" for="id_email">Email</label>
            <div class="controls" id="id_email">
                {{ form.email }}
                {% include 'joltem/form_field_errors.html' with errors=form.email.errors %}
            </div>
        </div>
        <div class="control-group {% if form.gravatar.errors %}error{% endif %}">
            <label class="control-label" for="id_gravatar">Gravatar</label>
            <div class="controls" id="id_gravatar">
                {{ form.gravatar }}
                {% if form.gravatar.errors %}
                    {% include 'joltem/form_field_errors.html' with errors=form.gravatar.errors %}
                {% else %}
                    <small class="help-inline">Optional, for avatar, <a href="http://gravatar.com" target="_blank">more info</a> <i class="icon-globe"></i> </small>
                {% endif %}
            </div>
        </div>
        <hr/>
         <div class="control-group {% if form.password.errors %}error{% endif %}">
            <label class="control-label" for="id_password">Password</label>
            <div class="controls" id="id_password">
                {{ form.password }}
                {% include 'joltem/form_field_errors.html' with errors=form.password.errors %}
            </div>
         </div>
        <div class="control-group {% if form.password_confirm.errors %}error{% endif %}">
            <label class="control-label" for="id_password">Confirm</label>
            <div class="controls" id="id_password">
                {{ form.password_confirm }}
                {% include 'joltem/form_field_errors.html' with errors=form.password_confirm.errors %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">Sign Up</button>
            </div>
        </div>
    </form>
{% endblock %}