{% extends 'joltem/base.html' %}
{% block content %}
    <h4>Sign In</h4>
    {% if form.errors %}
        <p class="alert alert-error">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <dl class="dl-horizontal">
            <dt>Username</dt>
            <dd><input type="text" name="username"/></dd>
            <dt>Password</dt>
            <dd><input type="password" name="password"/></dd>
            <dt><button type="submit" value="login" class="btn">Sign In</button></dt>
        </dl>
       <input type="hidden" name="next" value="{{ next }}" />
   </form>
{% endblock %}