{% extends 'joltem/base.html' %}
{% block content %}
    {% if error %}
        <p class="alert alert-error">{{ error }}</p>
    {% endif %}
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="input_username">Username</label>
            <div class="controls" id="input_username">
                <input type="text" name="username" value="{{ username }}" placeholder="Username"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input_password">Password</label>
            <div class="controls" id="input_password">
                <input type="password" name="password" placeholder="Password"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" value="login" class="btn btn-success">Sign In</button>
                <small>
                    or <a href="{% url 'password_reset' %}">reset password</a>
                    if you forgot it.
                </small>
            </div>
        </div>
   </form>
{% endblock %}
