{% extends 'joltem/base.html' %}
{% block content %}
    {% if error %}
        <div class="alert alert-error">
            {{ error }}
        </div>
    {% endif %}
    <div class="row">
        <div class="offset1 span8">
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                <input type="hidden" name="invite_code" value="{{ invite.invite_code }}" />
                <div class="control-group">
                    <label class="control-label" for="input_username">Username</label>
                    <div class="controls" id="input_username">
                        <input type="text" name="username" value="{{ username }}" placeholder="Username"/>
                        <small class="help-inline">Make it unique.</small>
                    </div>
                </div>
                <hr/>
                <div class="control-group">
                    <label class="control-label" for="input_first_name">First Name</label>
                    <div class="controls" id="input_first_name">
                        <input type="text" name="first_name" value="{{ first_name }}" placeholder="First Name"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input_last_name">Last Name</label>
                    <div class="controls" id="input_last_name">
                        <input type="text" name="last_name" value="{{ last_name }}" placeholder="Last Name"/>
                        <small class="help-inline">Optional.</small>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input_email">Email</label>
                    <div class="controls" id="input_email">
                        <input type="text" name="email" value="{{ email }}" placeholder="Email"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input_gravatar_email">Gravatar</label>
                    <div class="controls" id="input_gravatar_email">
                        <input type="text" name="gravatar_email" value="{{ gravatar_email }}" placeholder="Gravatar Email"/>
                        <small class="help-inline">Optional, for avatar, <a href="http://gravatar.com" target="_blank">more info</a> <i class="icon-globe"></i> </small>
                    </div>
                </div>
                <hr/>
                 <div class="control-group">
                    <label class="control-label" for="input_password">Password</label>
                    <div class="controls" id="input_password">
                        <input type="password" name="password" placeholder="Password"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input_password">Password</label>
                    <div class="controls" id="input_password">
                        <input type="password" name="password_confirm" placeholder="Confirm password"/>
                    </div>
                </div>
                <p class="offset2">
                    <button type="submit" class="btn btn-success">Sign Up</button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}