{% extends 'joltem/base.html' %}
{% block content %}
    <div class="row">
        <div class="span12">
            <img class="img-rounded pull-right" src="https://secure.gravatar.com/avatar/{{ user.get_profile.gravatar_hash }}?s=50" /></p>
            <h4><a href="#">{{ user.first_name }}</a></h4>
            <p><b>{{ user.get_profile.impact }}</b> impact <b>{{ user.get_profile.completed }}</b> solutions</p>
            <hr class="clearfix"/>
        </div>
    </div>
    <div class="alert alert">
        <strong>To do : </strong>
        a page with information about the user his work history, roles in various projects, provided solutions, amount of impact earned ...
    </div>
{% endblock %}
