{% extends 'joltem/base.html' %}
{% block title %}{{ profile_user.first_name }} {{ profile_user.last_name }} - Joltem{% endblock %}
{% block content %}
    <div class="row">
        <div class="span12">
            <img class="img-rounded pull-right" src="{{ profile_user.gravatar }}?s=50" />
            <h4><a href="#">{{ profile_user.first_name }}</a></h4>
            <p><b>{{ profile_user.impact }}</b> impact <b>{{ profile_user.completed }}</b> solutions</p>
            <hr class="clearfix"/>
        </div>
    </div>
    <div class="alert alert">
        <strong>To do : </strong>
        a page with information about the user his work history, roles in various projects, provided solutions, amount of impact earned ...
    </div>
{% endblock %}
