{% extends 'git/repositories_base.html' %}
{% load widget_tweaks %}
{% block title %}New Repository - Joltem{% endblock %}
{% block repositories_content %}
    <form method="post" onsubmit="TRACK.repository.create($('#id_name').val());">
        {% csrf_token %}
        <div class="row">
            <div class="span8">
                {% if form.name.errors %}
                    <div class="alert alert-error">{{ form.name.errors|join:' ' }}</div>
                {% endif %}
                {% render_field form.name class="input-block-level" placeholder="Title of repository" %}
                {% if form.description.errors %}
                    <div class="alert alert-error">{{ form.description.errors|join:' ' }}</div>
                {% endif %}
                {% render_field form.description class="input-block-level" placeholder="Description of repository" %}
                <button class="btn btn-success" type="submit" name="action" value="create_repo">Create repository</button>
            </div>
        </div>
    </form>
{% endblock %}