<div class="row">
    {% if is_admin or is_manager %}
        <div class="span1 text-center hidden-phone">
            <button class="btn btn-mini" type="submit" name="{{ action }}_repo" value="{{ repo.id }}">{{ action }}</button>
        </div>
        <div class="pull-right hidden-desktop hidden-tablet">
            <button class="btn btn-mini" type="submit" name="{{ action }}_repo" value="{{ repo.id }}">{{ action }}</button>
        </div>
    {% endif %}
    <div class="span9">
        <p>
            <strong><a href="{% url 'project:git:repository' project.name repo.id %}">{{ repo.name }}</a></strong><br/>
            {% if repo.description %}
                <small class="muted">{{ repo.description }}</small>
            {% else %}
                <small class="muted">~</small>
            {% endif %}
            <br/>
            <input type="text" disabled value="git clone {{ user.username }}@{{ host }}:{{ repo.id }}" class="input-block-level">
        </p>
    </div>
</div>