{% extends 'joltem/base.html' %}
{% block content %}
    <h3>{{ repository.path }}</h3>
    <p>MAIN_DIR : {{ main_dir }}</p>
    <p>Loaded repo : {{ loaded.path }}</p>
    <p>Loaded repo, working dir : {{ loaded.workdir }}</p>
    <p>Loaded repo, is bare : {{ loaded.is_bare }}</p>
    <p>Loaded repo, is empty : {{ loaded.is_empty }}</p>
    <h3>Refs</h3>
    {% for ref in loaded.listall_references %}
        <p>{{ ref }}</p>
    {% endfor %}
    <h3>Commits</h3>
    {% if commits %}
        {% for commit in commits %}
            <p>{{ commit.message }} by <b>{{ commit.author.name }}</b></p>
            <p class="muted">Committed at {{ commit.commit_time }} offset {{ commit.commit_time_offset }} minutes from UTC</p>
        {% endfor %}
    {% else %}
        <p class="muted">No commits yet.</p>
    {% endif %}
{% endblock %}