{% extends 'git/repositories_base.html' %}
{% block repositories_content %}
    <form method="post" class="form-inline">
        {% csrf_token %}
        {% for repo in repositories %}
            <div class="row">
                <div class="span6">
                    <p>
                        <a href="{% url 'project:git:repository' project.name repo.name %}">{{ repo.full_name }}</a>
                        {% if repo.description %}
                            <br/>
                            {{ repo.description }}
                        {% endif %}
                    </p>
                </div>
                {% if is_admin %}
                    <div class="span1 text-center">
                        <button class="btn btn-mini" type="submit" name="unhide_repo" value="{{ repo.id }}">unhide</button>
                    </div>
                {% endif %}
            </div>
        {% empty %}
            <p class="muted">There is no hidden repositories for this project.</p>
        {% endfor %}
    </form>
{% endblock %}