{% extends 'joltem/base.html' %}
{% block content %}
    <h3>{{ repository.full_name }}</h3>
    <h4>Commits</h4>
    {% if commits %}
        {% for commit in commits %}
            <p>
                {{ commit.message }}
                <span class="muted">by {{ commit.author }} at {{ commit.commit_time }} ago</span>
            </p>
            <p class="text-info">
                {{ commit.sha }}
            </p>
        {% endfor %}
    {% else %}
        <p class="muted">No commits yet.</p>
    {% endif %}
{% endblock %}