{% extends 'project/base.html' %}
{% load filters %}
{% block title %}Repositories - Joltem{% endblock %}
{% block project_content %}
    <div class="row">
        <div class="span2">
            <ul class="nav nav-list well">
                {% if is_admin or is_manager %}
                    <li><a href="{% url 'project:git:new_repository' project.name %}">Create</a></li>
                {% endif %}
                <li class="nav-header">Repositories</li>
                <li class="{{ repositories_tab|active:"active" }}"><a href="{% url 'project:git:repositories' project.name %}">Active</a></li>
                <li class="{{ repositories_tab|active:"hidden" }}"><a href="{% url 'project:git:repositories_hidden' project.name %}">Hidden</a></li>
            </ul>
        </div>
        <div class="span10">
            {% block repositories_content %}{% endblock %}
        </div>
    </div>
{% endblock %}