/*
    Landing page
*/

body.landing {
    background-color: #15455E;
    background-image: url(../img/joltem-landing-page-background.png);
    background-size: cover;
    background-repeat: repeat-y;
}

body.landing .introduction {
    color: #d6d6d6;
    font-size: 20px;
    line-height: 26px;
    padding: 0 50px;
}

body.landing .introduction .tagline {
    color: #9BCDE8;
}

body.landing .introduction .social {
    color: #CDE6F4;
    font-size: 36px;
    line-height: 42px;
    padding: 15px 15px;
}

body.landing .introduction .btn-large {
    width: 100px;
}

body.landing .introduction h1 {
    color: #ffffff;
    text-transform: lowercase;
    font-size: 70px;
    line-height: 80px;
}

body.landing .introduction p {
    padding: 0 50px;
}

body.landing .introduction hr {
    border-top: 3px dashed #15455E;
    border-bottom: none;
    margin: 20px 50px;
}

@media (max-width: 767px) {
    body.landing .introduction {
        font-size: 18px;
        line-height: 22px;
        padding: 0 10px;
    }

    body.landing .introduction .social {
        font-size: 26px;
        line-height: 32px;
        padding: 10px 10px;
    }

    body.landing .introduction .btn-large {
        width: 70px;
        font-size: 14px;
        line-height: 18px;
    }

    body.landing .introduction h1 {
        color: #ffffff;
        text-transform: lowercase;
        font-size: 70px;
        line-height: 80px;
    }

    body.landing .introduction p {
        padding: 0 20px;
    }

    body.landing .introduction hr {
        border-top: 3px dashed #15455E;
        border-bottom: none;
        margin: 20px 50px;
    }
}

/*
    Difference viewing styles
*/

table.patch-display {
    width: 100%;
}

tr.line td {
    padding: 2px 5px;
}

tr.addition {
    background-color: #edffed;
    color: #000000;
}

tr.deletion {
    background-color: #ffeded;
    color: #000000;
}

td.code {
    white-space: pre;
    font-size: 0.8em;
    color: #858585;
    font-family: verdana;
}


td.line_number {
    width: 2em;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    color: #c1c1c1;
}

/*
    Notification related
*/

.notification-counter {
    border-radius: 3px;
    padding: 5px 10px;
    font-family: Verdana;
}

.notifications-some{
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
}

.notifications-none{
    background-color: #e2e2e2;
    color: #8c8c8c;
}

/*
    Comment related
*/

.comment{
    padding: 0px;
}

.deleted_comment{
    padding: 10px;
    background:
        #f9f9f9
        repeat;
}
