{% load static from staticfiles %}
<link href="{% static 'joltem/css/jquery.tagit.css' %}" rel="stylesheet" type="text/css">
{# Load minified files in production #}
{% if DEBUG %}
    <link href="{% static 'joltem/css/flick/jquery-ui.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'joltem/js/tag-it.js' %}"></script>
{% else %}
    <link href="{% static 'joltem/css/flick/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'joltem/js/tag-it.min.js' %}"></script>
{% endif %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("#{{ tag_input_id }}").tagit({
            caseSensitive: false,
            autocomplete: {
                delay: 200,
                minLength: 2,
                source: "{% url 'tags' %}"
            }
        });
    });
</script>