{% extends 'joltem/base.html' %}
{% block title %}Sign in - Joltem{% endblock %}
{% block message %}{% endblock %}
{% block content %}
        <p>
            <div class="btn-group">
                <a class="btn" href="{% url 'oauth' 'github' %}/"><b class="fa fa-github fa-2x"></b> <span class="hidden-phone">GitHub</span></a>
                <a class="btn" href="{% url 'oauth' 'bitbucket' %}/"><b class="fa fa-bitbucket fa-2x"></b> <span class="hidden-phone">BitBucket</span></a>
                <a class="btn" href="{% url 'oauth' 'twitter' %}/"><b class="fa fa-twitter fa-2x"></b> <span class="hidden-phone">Twitter</span></a>
                <a class="btn" href="{% url 'oauth' 'google' %}/"><b class="fa fa-google-plus fa-2x"></b> <span class="hidden-phone">Google</span></a>
                <a class="btn" href="{% url 'oauth' 'facebook' %}/"><b class="fa fa-facebook-square fa-2x"></b> <span class="hidden-phone">Facebook</span></a>
            </div>
        </p>
        <hr/>
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-error">
                    {{ form.non_field_errors|join:' ' }}
                </div>
            {% endif %}
            {% for field in form %}
                {% include 'joltem/includes/form_field.html' with field=field %}
            {% endfor %}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-success">Sign In</button>
                    <small class="help-inline">
                        <a href="{% url 'password_reset' %}">forgot password?</a>
                    </small>
                </div>
            </div>
        </form>
{% endblock %}
