{% extends 'joltem/base.html' %}

{% block content %}
<form action="" method="post" class="form-horizontal" id="sign-up-form">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="alert alert-error">
            {{ form.non_field_errors|join:' ' }}
        </div>
    {% endif %}

    {% include 'joltem/includes/form_field.html' with field=form.username help_html='Make it unique.' %}

    {% include 'joltem/includes/form_field.html' with field=form.first_name %}

    {% include 'joltem/includes/form_field.html' with field=form.last_name help_html='Optional.' %}

    {% include 'joltem/includes/form_field.html' with field=form.email %}

    {% include 'joltem/includes/form_field.html' with field=form.gravatar_email help_html='Optional, for avatar, <a href="http://gravatar.com" target="_blank">more info</a> <i class="icon-globe"></i>' %}

    {% include 'joltem/includes/form_field.html' with field=form.password1 %}

    {% include 'joltem/includes/form_field.html' with field=form.password2 %}

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-success">Sign Up</button>
        </div>
    </div>
</form>
{% endblock %}
