{% extends 'joltem/base.html' %}
{% load filters %}
{% block title %}{{ project.name }}{% endblock %}
{% block content %}
    <h3>{{ project.name }}</h3>
    <ul class="nav nav-tabs">
        <li class="{{ project_tab|active:"main"}}"><a href="{% url 'project:project' project.name %}">Main</a></li>
        <li class="{{ project_tab|active:"solutions"}}"><a href="{% url 'project:solutions' project.name %}">Solutions</a></li>
        <li class="{{ project_tab|active:"tasks"}}"><a href="{% url 'project:tasks' project.name %}">Tasks</a></li>
        <li class="{{ project_tab|active:"repositories"}}"><a href="{% url 'project:repositories' project.name %}">Repositories</a></li>
    </ul>
    {% block project_content %}{% endblock %}
{% endblock %}