{% extends 'project/base.html' %}
{% load filters %}
{% block project_content %}
    <div class="clearfix">
        <h3 class="pull-left">{{ project.title }}</h3>
        <div class="btn-group pull-right">
            <button class="btn" title="Watch project." onclick="alert('todo : add watch project functionality')"><i class="fa fa-eye"></i><span class="hidden-phone"> watch</span></button>
            {% if is_admin %}
                <a class="btn" title="Settings." href="{% url 'project:settings' project.name %}"><i class="fa fa-gear"></i><span class="hidden-phone"> settings</span></a>
            {% endif %}
        </div>
    </div>
    {% if project_ratio and project_ratio.is_frozen %}
        <div class="alert">
            <strong><i class="fa fa-warning"></i> Your votes ratio is low ( <a href="#" title="show / hide details" onclick="$('#votes-ratio-details').toggle(); return false;">{{ project_ratio.votes_ratio|floatformat:2 }}</a>
                <span id='votes-ratio-details' style="display:none;">
                    <i class="fa fa-gears"></i>
                    {{ project_ratio.votes_out }} out /
                    {{ project_ratio.votes_in }} in
                </span>
            )</strong>
            <a href="{% url 'project:solution:my_review' project.name %}">review solutions</a> from other contributors to raise it.
            You are still able to earn impact but it will be withheld until the vote ratio is raised
            {% if project_impact %}
                , currently <strong>{{ project_impact.frozen_impact }}</strong> has been withheld
            {% endif %}.
            <a href="{% url 'help:index' %}">What is the votes ratio?</a>
        </div>
    {% endif %}
    <div class="row">
        <div class="span3">
            {% include "project/includes/dashboard-panel.html" with count=open_tasks_count desc="Open Tasks" icon="tasks" urlname="project:task:all_open" %}
        </div>
        <div class="span3">
            {% include "project/includes/dashboard-panel.html" with count=completed_tasks_count desc="Completed Tasks" status="success" urlname="project:task:all_closed" %}
        </div>
        <div class="span3">
            {% include "project/includes/dashboard-panel.html" with count=open_solutions_count desc="Open Solutions" icon="pencil-square-o" urlname="project:solution:all_incomplete" %}
        </div>
        <div class="span3">
            {% include "project/includes/dashboard-panel.html" with count=completed_solutions_count desc="Completed Solutions" icon="check" status="success" urlname="project:solution:all_complete" %}
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-clock-o"></i>
                        Recent Tasks
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for task in tasks %}
                            <div class="list-group-item">
                                <small class="muted pull-right">{{ task.time_updated|timesince }} ago.</small>
                                <a href="{% url 'project:task:task' project.name task.id %}">
                                    {% if task.is_closed %}
                                        <i class="fa fa-check" title="closed"></i>
                                    {% elif task.is_reviewed %}
                                        <i class="fa fa-flag" title="reviewed"></i>
                                    {% else %}
                                        <i class="fa fa-file-o" title="accepted"></i>
                                    {% endif %}
                                    {{ task.title|default:"No title" }}</a>
                            </div>
                        {% empty %}
                            <p class="muted">There are no tasks.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-clock-o"></i>
                        Recent Solutions
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for solution in solutions %}
                            <div class="list-group-item">
                                <small class="muted pull-right">{{ solution.time_updated|timesince }} ago.</small>
                                <a href="{% url 'project:solution:solution' project.name solution.id %}">
                                    {% if solution.is_completed %}
                                        <i class="fa fa-check" title="completed"></i>
                                    {% else %}
                                        <i class="fa fa-pencil-square-o" title="open"></i>
                                    {% endif %}
                                    {{ solution.default_title }}</a>
                            </div>
                        {% empty %}
                            <p class="muted">There are no solutions.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-clock-o"></i>
                        Recent Comments
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for comment in comments %}
                            <div class="list-group-item">
                                <small class="muted pull-right">{{ comment.time_updated|timesince }} ago.</small>
                                <a href="{% url 'user' comment.owner.username %}">{{ comment.owner.first_name }}</a>
                                <a href="{{ comment.get_comment_url }}">commented {{ comment.commentable_type }} "{{ comment.commentable.title }}".</a>
                            </div>
                        {% empty %}
                            <p class="muted">There are no comments.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

