{% extends 'project/base.html' %}
{% load filters %}
{% block project_content %}
    <h2>{{ project.name|capfirst }} <small>Statistics Overview</small></h2>
    <div class="row">
        <div class="span3">
            {% include "project/includes/dashboard-panel.html" with count=open_tasks_count desc="Open Tasks" icon="tasks" urlname="project:task:all_open" %}
        </div>
        <div class="span3">
            {% include "project/includes/dashboard-panel.html" with count=reviewed_tasks_count desc="Reviewed Tasks" status="warning" urlname="project:task:my_reviewed" %}
        </div>
        <div class="span3">
            {% include "project/includes/dashboard-panel.html" with count=open_solutions_count desc="Open Solutions" icon="pencil-square-o" urlname="project:solution:all_incomplete" %}
        </div>
        <div class="span3">
            {% include "project/includes/dashboard-panel.html" with count=completed_solutions_count desc="Completed Solutions" icon="check" status="success" urlname="project:solution:all_complete" %}
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-clock-o"></i>
                        Recent Tasks
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for task in tasks %}
                            <div class="list-group-item">
                                <a href="{% url 'project:task:task' project.name task.id %}">
                                    {% if task.is_closed %}
                                        <i class="fa fa-check" title="closed"></i>
                                    {% elif task.is_reviewed %}
                                        <i class="fa fa-flag" title="reviewed"></i>
                                    {% else %}
                                        <i class="fa fa-file-o" title="accepted"></i>
                                    {% endif %}
                                    {{ task.title|default:"No title" }}</a>
                                <span class="badge pull-right">{{ task.time_updated|timesince }} ago.</span>
                            </div>
                        {% empty %}
                            <p class="text-muted">There are no tasks.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-clock-o"></i>
                        Recent Solutions
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for solution in solutions %}
                            <div class="list-group-item">
                                <a href="{% url 'project:solution:solution' project.name solution.id %}">
                                    {% if solution.is_completed %}
                                        <i class="fa fa-check" title="completed"></i>
                                    {% else %}
                                        <i class="fa fa-pencil-square-o" title="open"></i>
                                    {% endif %}
                                    {{ solution.default_title }}</a>
                                <span class="badge pull-right">{{ solution.time_updated|timesince }} ago.</span>
                            </div>
                        {% empty %}
                            <p class="text-muted">There are no tasks.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

