{% extends 'project/base.html' %}
{% load filters %}
{% block project_content %}
    <div class="clearfix">
        <div class="row">
            <div class="span12">
                <form method="GET" action="{% url 'project:search' project.id %}">
                    <input type="text" name="q" class="input-block-level" value="{{ query }}" placeholder="Search project.">
                </form>
            </div>
        </div>
        {% for result in results %}
            <div class="row">
                {% if result.model_name == 'solution' %}
                    <div class="span text-right"><i class="fa fa-pencil-square-o fa-3x"></i></div>
                    {% include 'solution/solution_row_cells.html' with solution=result.object %}
                {% else %}
                <div class="span text-right"><i class="fa fa-tasks fa-3x"></i></div>
                    {% include 'task/task_row_cells.html' with task=result.object %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}


