{% extends 'project/base.html' %}
{% load widget_tweaks %}
{% load filters %}
{% block project_content %}
    <div class="row">
        <div class="span2">
        <ul class="nav nav-list well">
            <li class="nav-header">Project Settings</li>
            <li class="active"><a href="{% url 'project:settings' project.id %}">Main</a></li>
            <li><a href="{% url 'project:keys' project.id %}">Keys</a></li>
        </ul>
        </div>
        <div class="span6">
            {% if form.non_field_errors %}
                <div class="alert alert-error">
                    {{ form.non_field_errors|join:' ' }}
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <p>
                    <strong>Title & Description</strong>
                </p>

                <p>
                    {% if form.title.errors %}
                        <div class="alert alert-error">{{ form.title.errors|join:' ' }}</div>
                    {% endif %}
                    {% render_field form.title class="input-block-level" placeholder=form.title.label %}
                    {% render_field form.description class="input-block-level" placeholder=form.description.label %}
                </p>

                <p>
                    <button class="btn btn-success" name='submit_settings' value="1">Save</button>
                </p>
            </form>
            <hr/>

            <p>
                <strong>Administrators</strong>
                <small class="help-inline"><i class="fa fa-info-circle"></i> can edit members of groups and project settings.</small>
                {% include 'project/includes/add_to_group.html' with group='admin' add_form=admin_form %}
                {% include 'project/includes/remove_from_group.html' with group='admin' members=admins %}
            </p>
            <hr/>
            <p>
                <strong>Managers</strong>
                <small class="help-inline"><i class="fa fa-info-circle"></i> can push to all branches and create repositories.</small>
                {% include 'project/includes/add_to_group.html' with group='manager' add_form=manager_form %}
                {% include 'project/includes/remove_from_group.html' with group='manager' members=managers %}
            </p>
            <hr/>
            <p>
                <strong>Developers</strong>
                <small class="help-inline"><i class="fa fa-info-circle"></i> can push to <em>develop</em> branch.</small>
                {% include 'project/includes/add_to_group.html' with group='developer' add_form=developer_form %}
                {% include 'project/includes/remove_from_group.html' with group='developer' members=developers %}
            </p>

        </div>
    </div>

{% endblock %}
