<div class="row">
    <div class="span1 text-center">
        {% if solution.is_completed %}
                {% if solution.impact > 0 %}
                    <b><span class="text-success">{{ solution.impact }}</span></b>
                {% elif solution.impact < 0 %}
                    <b><span class="text-error">{{ solution.impact }}</span></b>
                {% else %}
                    <b><span class="muted">{{ solution.impact }}</span></b>
                {% endif %}
            <br/>
            <small class="muted">{{ solution.vote_set.count }} votes</small>
        {% else %}
            <span class="muted">-</span>
        {% endif %}
    </div>
    <div class="span8">
        <a href="{% url 'project:solution:solution' project.name solution.id %}">{{ solution.task.title }}</a><br>
        <span class="muted">by {{ solution.user.first_name }} on {{ solution.time_posted|date }}</span>
        {% if solution.is_accepted %}/ <span class="text-success">Accepted on {{ solution.time_accepted|date }}</span>{% endif %}
        {% if solution.is_completed %}/ <span class="text-info">Completed on {{ solution.time_completed|date }}</span>{% endif %}
    </div>
</div>

<p>
</p>