{% extends 'joltem/base.html' %}
{% block content %}
    <h3>Solutions</h3>
    <ul class="nav nav-tabs">
        <li class="active"><a href="{% url 'project:solutions_mine' project.name %}">My Solutions</a></li>
        <li><a href="{% url 'project:solutions_need_review' project.name %}">Need Review</a></li>
    </ul>
    {% if solutions %}
        {% for solution in solutions %}
            {% include "project/solution_row.html" %}
        {% endfor %}
    {% else %}
        <p class="muted">You have not provided any solutions to this project :(</p>
    {% endif %}
{% endblock %}