{% extends 'project/base.html' %}
{% load markup %}
{% block project_content %}
    <div class="row">
        <div class="span1 text-center">
            <a class="btn btn-success" href="{% url 'project:task:new_task' project.name %}">Create</a>
        </div>
        <div class="span8">
            {% for task in project.task_set.all %}
                <p>
                    <a href="{% url 'project:task:task' project.name task.id %}">{{ task.title }}</a></br/>
                    <small class="muted">by {{ task.owner.first_name }} on {{ task.time_posted|date }}</small>
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}