{% extends "joltem/emails/base.html" %}

{% block title %}{{ subject }}{% endblock %}
{% block content %}
<table class="twelve columns">
    <tbody>
        <tr>
            <td class="panel">

                {% if comments %} <h2>Comments feed</h2>
                {% for comment in comments %}
                <p>
                    {{ comment.comment }}
                    by <a href="{% url 'user' comment.owner.username %}">{{ comment.owner.first_name }}</a>
                    <a href="http://joltem.com/{{ comment.get_comment_url }}">Click it! »</a>
                </p>
                {% endfor %} {% endif %}

                {% if solutions %}
                <h2>Solutions feed</h2>
                {% for solution in solutions %}
                <p>
                    {{ solution.default_title }}
                    by <a href="{% url 'user' solution.owner.username %}">{{ solution.owner.first_name }}</a>
                    <a href="http://joltem.com/{% url 'project:solution:solution' project.id solution.id %}">Click it! »</a>
                </p>
                {% endfor %}
                {% endif %}

                {% if tasks %}
                <h2>Tasks feed</h2>
                {% for task in tasks %}
                <p>
                    {{ task.title }}
                    by <a href="{% url 'user' task.owner.username %}">{{ task.owner.first_name }}</a>
                    <a href="http://joltem.com/{% url 'project:task:task' project.id task.id %}">Click it! »</a>
                </p>
                {% endfor %}
                {% endif %}

            </td>
            <td class="expander"></td>
        </tr>
    </tbody>
</table>
{% endblock %}

