{% extends 'project/base.html' %}
{% load static from staticfiles %}
{% load filters %}
{% load markup %}
{% block title %}{{ solution.default_title }} - Joltem{% endblock %}
{% block project_content %}
    <ul class="nav nav-tabs">
        <li class="{{ solution_tab|active:"solution" }}"><a href="{% url 'project:solution:solution' project.name solution.id %}">Solution</a></li>
        <li class="{{ solution_tab|active:"commits" }}"><a href="{% url 'project:solution:commits' project.name solution.id %}">Commits</a></li>
        {% if solution.is_completed %}
            <li class="{{ solution_tab|active:"review" }}"><a href="{% url 'project:solution:review' project.name solution.id %}">Review</a></li>
        {% endif %}
    </ul>
    {% block solution_content %}{% endblock %}
    {% block scripts %}
        <script src="{% static 'joltem/js/jquery.jeditable.min.js' %}"></script>
        <script>
            $(document).ready(function() {
                // Tooltips
                $(".impact_vote").tooltip();
                // Editable text
                $('.editable_comment').each(function(){
                    $(this).editable('{{ request.path }}', {
                        type        : 'textarea',
                        loadurl     : $(this).attr('data-loadurl'),
                        name        : 'comment_edit',
                        submitdata  : {
                            csrfmiddlewaretoken : '{{ csrf_token }}',
                            comment_id: $(this).attr('data-id')
                        },
                        cancel      : 'Cancel',
                        submit      : 'Edit',
                        tooltip     : 'Click to edit...'
                    });
                });
            });
        </script>
        {% block solution_scripts %}{% endblock %}
    {% endblock %}
{% endblock %}