{% extends 'project/base.html' %}
{% load filters %}
{% load markup %}
{% block project_content %}
    <ul class="nav nav-tabs">
        <li class="{{ solution_tab|active:"solution" }}"><a href="{% url 'project:solution:solution' project.name solution.id %}">Solution</a></li>
        <li class="{{ solution_tab|active:"commits" }}"><a href="{% url 'project:solution:commits' project.name solution.id %}">Commits</a></li>
        {% if solution.is_completed %}
            <li class="{{ solution_tab|active:"review" }}"><a href="{% url 'project:solution:review' project.name solution.id %}">Review</a></li>
        {% endif %}
    </ul>
    {% block solution_content %}{% endblock %}
    {% block scripts %}{% block solution_scripts %}{% endblock %}{% endblock %}
{% endblock %}