{% extends 'joltem/base.html' %}
{% load filters %}
{% load markup %}
{% block content %}
    <h3>{{ solution.task.title }} <span class="muted">by {{ solution.user.first_name }}</span></h3>
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'project:project' project.name %}">{{ project.name }}</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'project:task:task' project.name solution.task_id %}">{{ solution.task.title }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">Solution by {{ solution.user.first_name }}</li>
    </ul>
    <ul class="nav nav-tabs">
        <li class="{{ solution_tab|active:"solution" }}"><a href="{% url 'project:solution:solution' project.name solution.id %}">Solution</a></li>
        <li class="{{ solution_tab|active:"commits" }}"><a href="{% url 'project:solution:commits' project.name solution.id %}">Commits</a></li>
        <li class="{{ solution_tab|active:"review" }}"><a href="{% url 'project:solution:review' project.name solution.id %}">Review</a></li>
    </ul>
    {% block solution_content %}{% endblock %}
{% endblock %}