{% extends 'solution/base.html' %}
{% block solution_content %}
    <div class="alert alert">
        <strong>To do : </strong>
        a page to see all worked performed in the solution, view patches ....
    </div>
    <div class="row">
        <div class="span2">
            <ul class="nav nav-list well">
                <li class="nav-header">repositories</li>
                {% for project_repository in repositories %}
                    <li{% if project_repository.id == repository.id %} class="active"{% endif %}><a href="{% url 'project:solution:commits' project.name solution.id project_repository.name %}">{{ project_repository.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="span8">
            <h4>{{ repository.full_name }}</h4>
            {% for commit in commits %}
                <p>
                    {{ commit.message }} by {{ commit.author.name }}<br/>
                    <span class="muted">{{ commit.hex }}</span>
                </p>
            {% empty %}
                <p class="muted">No commits on this repo for this particular solution.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}