{% extends 'solution/base.html' %}
{% block solution_content %}
    <h4>{{ repository.name }}</h4>
    <div class="tabbable tabs-right">
        <ul class="nav nav-tabs">
            {% for project_repository in project.repository_set.all %}
                <li{% if project_repository.id == repository.id %} class="active"{% endif %}><a href="{% url 'project:solution:commits' project.name solution.id project_repository.name %}">{{ project_repository.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% if commits %}
                {% for commit in commits %}
                    <p>
                        {{ commit.message }} by {{ commit.author.name }}<br/>
                        <span class="muted">{{ commit.hex }}</span>
                    </p>
                {% endfor %}
            {% else %}
                <p class="muted">No commits on this repo for this particular solution.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}