{% extends 'solution/base.html' %}

{% block solution_content %}

{% if not project_repo_list %}
<div class="alert">The project has no repositories.</div>
{% else %}
<div class="row">
    <div class="span2">
        <ul class="nav nav-list well">
            <li class="nav-header">repositories</li>
            {% for repo in project_repo_list %}
            <li{% if current_repo.id == repo.id %} class="active"{% endif %}>
                <a href="{% url 'project:solution:commits' project.id solution.id repo.id %}">{{ repo.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="span10">
        <h4>{{ current_repo.name }}</h4>

        {% for commit in commit_list %}
        <p>
            <small class="muted">
                {{ commit.time_committed|date }}
                @ {{ commit.time_committed|time }}
                by {{ commit.author }}
            </small>
            <pre>{{ commit.message }}</pre>
            <small class="text-info">{{ commit.hex }}</small>
        </p>
        {% empty %}
        <p class="muted">
            No commits on this repo for this particular solution.
        </p>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}
