{% extends 'project/base.html' %}
{% load markup %}
{% block project_content %}
    <div class="row">
        <div class="offset1 span8">
            <h4>{{ task.title }}</h4>
            {{ task.description|markdown:'tables,fenced_code' }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="offset1 span8">
            <form method="post">
                {% csrf_token %}
                <input class="input-block-level" type="text" name="title" placeholder="Optional. A title that describes your solution."/>
                <textarea class="input-block-level" rows=10 name="description" placeholder="Optional. Briefly describe how you plan to solve the task and if you have any experience pertinent to the task."></textarea>
                <button class="btn btn-success" type="submit">Solve</button>
            </form>
        </div>
    </div>
{% endblock %}