{% extends 'joltem/base.html' %}
{% block content %}
    <h3>Offer Solution</h3>
    <h5 class="muted">for <a href="{% url 'project:task:task' project.name task.id %}">{{ task.title }}</a></h5>
    <form method="post">
        {% csrf_token %}
        <p>
            <textarea class="span8" rows=5 name="description" placeholder="Describe the solution you will implement."></textarea><br/>
            <button class="btn btn-success" type="submit">Offer Solution</button>
        </p>
        <hr/>
    </form>
{% endblock %}