{% load filters %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="comment_id" value="{{ comment.id }}" />
    <div class="btn-group">
        {% if vote.vote == 1 %}
            <button class="btn btn-mini btn-success" type="submit" name="comment_vote" value="1"><b data-toggle="tooltip" title="Helpful." class="impact_vote"><i class="icon-plus icon-white"></i></b></button>
        {% else %}
            <button class="btn btn-mini" type="submit" name="comment_vote" value="1"><b data-toggle="tooltip" title="Helpful." class="impact_vote"><i class="icon-plus"></i></b></button>
        {% endif %}
        {% if vote.vote == -1 %}
            <button class="btn btn-mini btn-danger" type="submit" name="comment_vote" value="-1"><b data-toggle="tooltip" title="Not helpful." class="impact_vote"><i class="icon-minus icon-white"></i></b></button>
        {% else %}
            <button class="btn btn-mini" type="submit" name="comment_vote" value="-1"><b data-toggle="tooltip" title="Not helpful." class="impact_vote"><i class="icon-minus"></i></b></button>
        {% endif %}
    </div>
</form>