<div class="span6 text-center">
    {% for vote in accept_votes %}
        <p>
            <i class="icon-ok"></i> <b>from {{ vote.voter.first_name }}</b><br/>
            <small class="muted">{{ vote.time_voted|date }} @ {{ vote.time_voted|time }}</small>
        </p>
    {% endfor %}
</div>
<div class="span6 text-center">
    {% for vote in reject_votes %}
        <p>
            <i class="icon-remove"></i> <b>from {{ vote.voter.first_name }}</b><br/>
            <small class="muted">{{ vote.time_voted|date }} @ {{ vote.time_voted|time }}</small>
        </p>
    {% endfor %}
</div>