{% extends 'solution/base.html' %}
{% block solution_content %}
    {% if is_owner and vote_count == 0 %}
        <div class="alert">
            <strong>Review in progress,</strong> no votes have been submitted yet for this solution.
        </div>
    {% else %}
        {% if vote and not vote_valid %}
            <div class="alert alert-danger">
                <strong><i class="fa fa-warning"></i> Votes require an explanation to count,</strong> leave a comment.
            </div>
        {% endif %}
        <div class="row">
            <div class="span4 text-center">
                {% if solution.impact == None %}
                    <h2 class="muted">~</h2>
                {% else %}
                    <h2 class="muted">{{ solution.impact }}</h2>
                {% endif %}
                <small class="muted">impact</small>
            </div>
            <div class="span4 text-center">
                {% if solution.acceptance == None %}
                    <h2 class="muted">~</h2>
                {% elif solution.acceptance > 90 %}
                    <h2 class="text-success">{{ solution.acceptance }}%</h2>
                {% else %}
                    <h2 class="text-error">{{ solution.acceptance }}%</h2>
                {% endif %}
                <small class="muted">acceptance</small>
            </div>
            <div class="span4 text-center">
                <h2 class="muted">{{ vote_count }}</h2>
                <small class="muted">votes</small>
            </div>
        </div>
        <div class="row">
            <div class="span12 text-center">
                {% if user.is_authenticated and not is_owner %}
                    {% include "solution/review_vote.html" %}
                {% endif %}
            </div>
        </div>
        {% if vote_count > 0 %}
            <div class="row">
                <div class="span12 text-center">
                    <small>
                        <a href="#" onclick="$('#review-votes').toggle(); return false;" class="muted">show / hide votes</a>
                    </small>
                </div>
            </div>
            <div id="review-votes" style="display:none;">
                <hr/>
                <div class="row">
                    {% include "solution/review_votes.html" %}
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% if user.is_authenticated and is_owner and not solution.is_closed %}
        <hr/>
        <div id="compensation-q" class="alert alert-info">
            <strong>You requested an impact of {{ solution.impact }}</strong> for this solution.
            <a href="#" onclick="$('#compensation').show(); $('#compensation-q').hide();  return false;">Change evaluation</a>.
        </div>
        <form method="post" id="compensation" class="compensation">
            {% csrf_token %}
            <p>How much <a href="{% url 'help:index' %}#impact" title="What is impact?">impact</a> do you want for the solution? <a href="{% url 'help:index' %}#review"><i class="fa fa-info-circle"> More info about bargaining.</i></a></p>
            <p><input type="number" min="0" max="10000" size="5" name="compensation_value" value="{{ solution.impact }}" placeholder="amount of impact"/></p>
            <p><button class="btn btn-info" type="submit" name="change_value" value="1">change</button></p>
        </form>
    {% endif %}
    <hr/>
    {% include "joltem/commenting.html" %}
{% endblock %}