{% extends 'solution/base.html' %}
{% load markup %}
{% block solution_content %}
    {% if is_owner and vote_count == 0 %}
        <div class="alert">
            <strong>Review in progress,</strong> no votes have been submitted yet for this solution.
        </div>
    {% else %}
        <div class="row">
            <div class="span2 text-center">
                {% if vote or is_owner %}
                    {% if not solution.impact %}
                        <h2 class="muted">N/A</h2>
                   {% elif solution.impact > 0 %}
                        <h2 class="text-success">{{ solution.impact }}</h2>
                    {% elif solution.impact < 0 %}
                        {% load mathfilters %}
                        <h2 class="text-error">{{ solution.impact|abs }}</h2>
                    {% else %}
                        <h2 class="muted">0</h2>
                    {% endif %}
                    <small class="muted">impact</small>
                {% endif %}
            </div>
            <div class="span8 text-center">
                {% if is_owner %}
                    {% include "solution/review_votes.html" %}
                {% else %}
                    {% include "solution/review_vote.html" %}
                {% endif %}
            </div>
            <div class="span2 text-center">
                {% if vote or is_owner %}
                    {% if not solution.acceptance %}
                        <h2 class="muted">N/A</h2>
                    {% elif solution.acceptance > 90 %}
                        <h2 class="text-success">{{ solution.acceptance }}%</h2>
                    {% else %}
                        {% load mathfilters %}
                        <h2 class="text-error">{{ solution.acceptance }}%</h2>
                    {% endif %}
                    <small class="muted">acceptance<br/>{{ vote_count }} votes</small>
                {% endif %}
            </div>
        </div>
        {% if not is_owner %}
            <div class="row">
                <div class="span2"></div>
                {% include "solution/review_votes.html" %}
            </div>
        {% endif %}
    {% endif %}
    <hr/>
    {% for comment_holder in comments %}
        {% with comment=comment_holder.comment %}
            <div class="row">
                <div class="span2 text-center">
                    <p>
                        <img class="img-rounded" src="https://secure.gravatar.com/avatar/{{ comment.commenter.get_profile.gravatar_hash }}?s=75" /><br/>
                    </p>
                    <p>
                        <b><a href="#">{{ comment.commenter.first_name }}</a></b><br/>
                    </p>
                </div>
                <div class="span8">
                    <p>
                        <small class="muted">{{ comment.time_commented|date }} @ {{ comment.time_commented|time }}</small>
                    </p>
                    {{ comment.comment|markdown:"tables,fenced_code" }}
                </div>
                <div class="span2 text-center">
                    {% with vote=comment_holder.vote %}
                        {% if vote %}
                            <p>
                                <small class="muted">
                                    {% if comment.impact %}
                                        {{ comment.impact }} impact,
                                        {{ comment_holder.vote_count }} vote{{ comment_holder.vote_count|pluralize }}
                                    {% endif %}
                                </small>
                            </p>
                        {% endif %}
                        {% if not comment_holder.is_author %}
                            {% include 'solution/review_comment_vote.html' %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        {% endwith %}
        <hr/>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="offset2 span8">
                <textarea class="offset2 span8" rows=5 name="comment" placeholder="Comment about solution."></textarea><br/>
                <button class="btn" type="submit">Comment</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block solution_scripts %}
    <script>
        $(document).ready(function() {
            $(".impact_vote").tooltip();
        });
    </script>
{% endblock %}