{% extends 'solution/base.html' %}
{% load django_markdown %}
{% load filters %}
{% block solution_content %}
    <div class="row hidden-desktop hidden-tablet">
        <div class="span8">
            <img class="img-rounded pull-right" src="{{ solution.owner.gravatar }}?s=50" />
            <h4><a href="{% url 'user' solution.owner.username %}">{{ solution.owner.first_name }}</a></h4>
            <p><b>{{ solution_owner_impact }}</b> impact <b>{{ solution_owner_completed }}</b> solutions</p>
            <hr class="clearfix"/>
        </div>
    </div>
    <div class="row">
        <div class="span2 hidden-phone">
            <h4><a href="{% url 'user' solution.owner.username %}">{{ solution.owner.first_name }}</a></h4>
            <p><img class="img-rounded" src="{{ solution.owner.gravatar }}?s=100" /></p>
            <p><b>{{ solution_owner_impact }}</b> impact</p>
            <p><b>{{ solution_owner_completed }}</b> solutions</p>
        </div>
        <div class="span8">
            {% if solution.title %}
                <h4>{{ solution.title }}</h4>
            {% else %}
                <h4>{{ solution.task.title }} <span class="muted">by {{ solution.owner.first_name }}</span></h4>
            {% endif %}
            {% if solution.description %}
                {{ solution.description|markdown }}
            {% else %}
                <p class="muted">Solution has not been described yet.</p>
            {% endif %}
            {% if user.is_authenticated and not solution.is_archived %}
                <form method="post">
                    {% csrf_token %}
                    <div class="btn-group">
                        {% if solution.is_closed %}
                            {% if is_owner %}
                                <button class="btn" type="submit" name="reopen" value="1">reopen</button>
                            {% endif %}
                        {% elif solution.is_completed %}
                            {% if is_owner %}
                                <a href="{% url 'project:solution:solution_edit' project.id solution.id %}" class="btn">edit</a>
                                <button class="btn" type="submit" name="incomplete" value="1">mark incomplete</button>
                            {% endif %}
                        {% else %}
                            {% if is_owner %}
                                <a href="{% url 'project:solution:solution_edit' project.id solution.id %}" class="btn">edit</a>
                                <button class="btn" type="submit" name="close" value="1"  onclick="return confirm('Are you sure you want to close the solution?\nThis means you are not going to complete the solution.');">close</button>
                            {% else %}
                                <a class="btn btn-success" href="{% url 'project:solution:new' project.id solution.id %}">suggest solution</a>
                            {% endif %}
                            <a class="btn btn-success" href="{% url 'project:task:new' project.id solution.id %}">create task</a>
                        {% endif %}
                    </div>
                </form>
            {% endif %}
            {% if solution.is_completed %}
                <div class="alert alert-info">
                    <b>This solution was completed</b> on {{ solution.time_completed|date }}{% if not solution.is_archived and not is_owner %}, please review it{% else %}, and it has been archived{% endif %}.
                </div>
            {% endif %}
            {% if solution.task %}
                <div class="alert alert-info">
                    <strong>Parent task :</strong> <a href="{% url 'project:task:task' project.id solution.task.id %}">{{ solution.task.title }}</a> by {{ solution.task.owner.first_name }}
                </div>
            {% elif solution.solution %}
                <div class="alert alert-info">
                    <strong>Parent solution :</strong> <a href="{% url 'project:solution:solution' project.id solution.solution.id %}">{{ solution.solution.default_title }}</a> by {{ solution.solution.owner.first_name }}
                </div>
            {% else %}
                <div class="alert alert-info">
                    This is a <strong>suggested solution</strong> without a parent ( task or solution ).
                </div>
            {% endif %}
            {% if user.is_authenticated and is_owner and not solution.is_closed and not solution.is_completed %}
                <div id="compensation-q" class="alert">
                    <strong>
                        <i class="fa fa-check"></i> Is the solution <a href="#" onclick="$('#compensation').show(); $('#compensation-q').hide();  return false;">complete</a>?
                    </strong>
                </div>
                <form method="post" id="compensation" class="compensation">
                    {% csrf_token %}
                    <p>How much <a href="{% url 'help:index' %}#impact" title="What is impact?">impact</a> do you want for the solution? <a href="{% url 'help:index' %}#review"><i class="fa fa-info-circle"> More info about bargaining.</i></a></p>
                    <p><input type="number" min="0" max="10000" size="5" name="compensation_value" placeholder="amount of impact"/></p>
                    <p><button class="btn btn-info" type="submit" name="complete" value="1">mark complete</button></p>
                </form>
            {% endif %}
            <span class="hidden-desktop hidden-tablet muted text-center">{{ solution.time_posted|timesince }} ago.</span>
        </div>
        <div class="span2 muted text-right hidden-phone">
            {{ solution.time_posted|timesince }} ago.
        </div>
    </div>
    <div class="row">
        <div class="offset2 span8">
            <h5>Subtasks</h5>
        </div>
    </div>
    {% for task in subtasks %}
        <div class="row">
            {% with offset="offset2" %}
                {% include 'task/task_row_cells.html' %}
            {% endwith %}
        </div>
    {% empty %}
        <div class="row">
            <div class="offset2 span8">
                <p class="muted">No subtasks yet.</p>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="offset2 span8">
            <h5>Suggested solutions</h5>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {% for suggested_solution in suggested_solutions %}
            <div class="row">
                {% with offset="offset2" solution=suggested_solution %}
                    {% include 'solution/solution_row_cells.html' %}
                {% endwith %}
            </div>
        {% empty %}
            <div class="row">
                <div class="offset2 span8">
                    <p class="muted">No suggested solutions yet.</p>
                </div>
            </div>
        {% endfor %}
    </form>

    {% include "joltem/commenting.html" with disable_comment=solution.is_archived %}

    {% if not solution.is_archived and user.is_authenticated %}
        {% if is_owner %}
            <div class="alert alert-info">
                <p>Checkout this solution's branch :</p>
                <pre>git checkout -b s/{{ solution.id }} <i class="text-warning">[branch or sha to checkout]</i></pre>
                <p>Then push to this solutions designated remote solution branch :</p>
                <pre>git push -u origin s/{{ solution.id }}</pre>
            </div>
        {% else %}
            <div class="alert alert-info">
                <p>Checkout this solution's branch :</p>
                <pre>git fetch origin</pre>
                <pre>git checkout -b s/{{ solution.id }} origin/s/{{ solution.id }}</pre>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
