{% extends 'joltem/base.html' %}
{% load markup %}
{% block content %}
    <h3>{{ solution.task.title }} <span class="muted">by {{ solution.user.first_name }}</span></h3>
    <ul class="breadcrumb">
        <li><a href="{% url 'project:project' project.name %}">{{ project.name }}</a> <span class="divider">/</span>
        </li>
        <li><a href="{% url 'project:task:task' project.name solution.task_id %}">{{ solution.task.title }}</a> <span
                class="divider">/</span></li>
        <li class="active">Solution by {{ solution.user.first_name }}</li>
    </ul>
    <ul class="nav nav-tabs">
        <li class="active"><a href="{% url 'project:solution:solution' project.name solution.id %}">Solution</a></li>
        <li><a href="{% url 'project:solution:commits' project.name solution.id %}">Commits</a></li>
    </ul>
    {% if solution.is_accepted %}
        <div class="alert alert-success">
            <b>This solution has been accepted</b> on {{ solution.time_accepted|date }}, you may begin work.
        </div>
    {% else %}
        <div class="alert alert-danger">
            <b>This solution has not been accepted yet</b>, if you wish you can start working on it on a personal branch.
        </div>
    {% endif %}
    <span class="muted pull-right">{{ solution.time_posted|timesince }} ago.</span>
    <h4><a href="#">{{ solution.user.first_name }}</a></h4>
    <div class="row">
        <div class="span2">
            <p><img class="img-rounded" src="https://secure.gravatar.com/avatar/{{ solution.user.get_profile.gravatar_hash }}?s=100" /></p>
            <p><b>{{ solution.user.get_profile.impact }}</b> impact</p>
            <p><b>{{ solution.user.get_profile.completed }}</b> solutions</p>
        </div>
        <div class="span8">
            {% if solution.description %}
                {{ solution.description|markdown:"tables,fenced_code" }}
            {% else %}
                <p class="muted">Solution has not been described yet.</p>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="btn-group">
                    {% if not solution.is_completed and solution.is_accepted and is_owner %}
                        <button class="btn btn-info" type="submit" name="complete" value="1"><i class="icon-ok icon-white"></i></button>
                    {% endif %}
                    <button class="btn" type="submit" name="edit" value="1">edit</button>
                    <button class="btn" type="submit" name="delete" value="1"></i>delete</button>
                </div>
            </form>
            <hr/>
            {% if is_owner %}
                <p class="pull-right"><a class="btn btn-success" href="{% url 'project:task:new_task' project.name solution.id %}">create task</a></p>
            {% endif %}
            <h4>Tasks</h4>
            {% include 'solution/solution_tasks.html' %}
            <hr/>
        </div>
        <div class="span2 text-center">
            {% if solution.is_completed %}
                <form method="post">
                    {% csrf_token %}
                    {% if vote or is_owner %}
                        {% if solution.impact > 0 %}
                            <h2 class="text-success">{{ solution.impact }}</h2>
                        {% elif solution.impact < 0 %}
                            {% load mathfilters %}
                            <h2 class="text-error">{{ solution.impact|abs }}</h2>
                        {% else %}
                            <h2 class="muted">0</h2>
                        {% endif %}
                    {% endif %}
                    {% if not is_owner %}
                        <p>
                        <div class="btn-group btn-group-vertical">
                            {% if vote.vote == 10 %}
                                <button class="btn btn-warning" type="submit" name="vote" value="10"><i class="icon-star icon-white"></i></button>
                            {% else %}
                                <button class="btn" type="submit" name="vote" value="10"><i class="icon-star"></i></button>
                            {% endif %}
                            {% if vote.vote == 1 %}
                                <button class="btn btn-success" type="submit" name="vote" value="1"><i class="icon-ok icon-white"></i></button>
                            {% else %}
                                <button class="btn" type="submit" name="vote" value="1"><i class="icon-ok"></i></button>
                            {% endif %}
                            {% if vote.vote == -1 %}
                                <button class="btn btn-danger" type="submit" name="vote" value="-1"><i class="icon-remove icon-white"></i></button>
                            {% else %}
                                <button class="btn" type="submit" name="vote" value="-1"><i class="icon-remove"></i></button>
                            {% endif %}
                        </div>
                        </p>
                    {% endif %}
                    {% if vote or is_owner %}
                        <p class="muted">{{ solution.vote_set.count }} votes</p>
                    {% endif %}
                </form>
                <p class="text-info">Marked Completed<br/>{{ solution.time_completed|date }}</p>
            {% endif %}
        </div>
    </div>
    {% if solution.is_accepted and is_owner %}
        <div class="alert alert-info">
            <p>Checkout solution branch :</p>
            <pre>git checkout -b s/{{ solution.id }} <i class="text-warning">[branch or sha to checkout]</i></pre>
            <p>Push to remote designated solution branch :</p>
            <pre>git push -u origin s/{{ solution.id }}</pre>
        </div>
    {% else %}
        <div class="alert alert-info">
            <p>Checkout solution branch :</p>
            <pre>git checkout -b s/{{ solution.id }} <i class="text-warning">[branch or sha to checkout]</i></pre>
            <p>Push to remote personal branch :</p>
            <pre>git push -u origin s/{{ solution.id }}:u/{{ user.username }}/s/{{ solution.id }}</pre>
        </div>
    {% endif %}
{% endblock %}