{% extends 'project/base.html' %}
{% load filters %}
{% block title %}Solutions - Joltem{% endblock %}
{% block project_content %}
    <div class="row">
        <div class="span3">
            <ul class="nav nav-list well">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'project:solution:new' project.id %}">Create</a></li>
                {% endif %}
                <li class="nav-header">All</li>
                <li class="{{ tab|active:"solutions_all_incomplete" }}"><a href="{% url 'project:solution:all_incomplete' project.id %}">Incomplete<span class="{{ tabs.solutions_all_incomplete|is_true:"badge-info" }} badge pull-right">{{ tabs.solutions_all_incomplete }}</span></a></li>
                <li class="{{ tab|active:"solutions_all_complete" }}"><a href="{% url 'project:solution:all_complete' project.id %}">Complete<span class="{{ tabs.solutions_all_complete|is_true:"badge-info" }} badge pull-right">{{ tabs.solutions_all_complete }}</span></a></li>
                {% if user.is_authenticated %}
                    <li class="nav-header">My</li>
                    <li class="{{ tab|active:"solutions_my_incomplete" }}"><a href="{% url 'project:solution:my_incomplete' project.id %}">Incomplete<span class="{{ personal_tabs.solutions_my_incomplete|is_true:"badge-info" }} badge pull-right">{{ personal_tabs.solutions_my_incomplete }}</span></a></li>
                    <li class="{{ tab|active:"solutions_my_complete" }}"><a href="{% url 'project:solution:my_complete' project.id %}">Complete<span class="{{ personal_tabs.solutions_my_complete|is_true:"badge-info" }} badge pull-right">{{ personal_tabs.solutions_my_complete }}</span></a></li>
                    <li class="nav-header">Review</li>
                    <li class="{{ tab|active:"solutions_my_review" }}"><a href="{% url 'project:solution:my_review' project.id %}">Review<span class="{{ personal_tabs.solutions_my_review|is_true:"badge-info" }} badge pull-right">{{ personal_tabs.solutions_my_review }}</span></a></li>
                    <li class="{{ tab|active:"solutions_my_reviewed" }}"><a href="{% url 'project:solution:my_reviewed' project.id %}">Reviewed<span class="{{ personal_tabs.solutions_my_reviewed|is_true:"badge-info" }} badge pull-right">{{ personal_tabs.solutions_my_reviewed }}</span></a></li>
                {% endif %}
            </ul>
        </div>
        <div class="span9">
            {% block solutions_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
