{% extends 'account/base.html' %}

{% load widget_tweaks django_markdown %}

{% block scripts %}
    {{ block.super }}
    {% markdown_media %}
    {% markdown_editor "textarea" %}
    {% include 'joltem/includes/tag-scripts.html' %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery("#user-tags").tagit({
                caseSensitive: false,
                availableTags: ["c++", "java", "php", "javascript", "ruby", "python", "c"]
            });
        });
    </script>
{% endblock %}

{% block account_content %}
<div class="row hidden-desktop hidden-tablet">
    <div class="span8">
        <img class="img-rounded pull-right" src="{{ user.gravatar }}?s=50"/>
        <h4><a href="{% url 'user' user.username %}">{{ user.first_name }}</a></h4>
        <p>
        <strong>{{ user.impact }}</strong> impact on <strong>{{ user.completed }}</strong> solutions.
        </p>
        <hr class="clearfix"/>
    </div>
</div>

<div class="row hidden-phone">
    <div class="span2 text-center">
        <h3>{{ user.first_name }}</h3>
    </div>
    <div class="span6">
        <h4 class="text-info">
            <a href="{% url 'user' user.username %}">{{ user.impact }} impact on {{ user.completed }} completed solution{{ user.completed|pluralize }}.</a>
        </h4>
        <small class="muted">Joined {{ user.date_joined|date }}</small>
        <p>
            <div class="btn-group">
                {% for service in services %}
                    <a class="btn" href="{{ service.get_profile_url }}"><b class="fa fa-{{ service.service }}{% if service.service == 'google' %}-plus{% endif %}"></b> {{ service.username|default:service.service }}</a>
                {% endfor %}
                <button class="btn btn-info" disabled><i class="fa fa-link"></i> </button>
                {% for provider in providers %}
                    <a class="btn" href="{% url 'oauth' provider %}/"><b class="fa fa-{{ provider }}{% if provider == 'google' %}-plus{% endif %}"></b></a>
                {% endfor %}
            </div>
        </p>
    </div>
    <div class="span2 text-right">
        <p><img class="img-rounded" src="{{ user.gravatar }}?s=100" /></p>
    </div>
</div>


<hr class="hidden-phone"/>

<div class="row">
    <div class="span10">
        <form action="" method="post" class="form-horizontal" id="account-general-settings-form" >
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-error">
                    {{ form.non_field_errors|join:' ' }}
                </div>
            {% endif %}

            {% include 'joltem/includes/form_field.html' with field=form.first_name %}

            {% include 'joltem/includes/form_field.html' with field=form.last_name help_html='Optional.' %}

            {% include 'joltem/includes/form_field.html' with field=form.email %}

            {% include 'joltem/includes/form_field.html' with field=form.gravatar_email help_html='Optional, for avatar, <a href="http://gravatar.com" target="_blank">more info</a> <i class="fa fa-globe"></i>' %}

            {% include 'joltem/includes/form_field.html' with field=form.notify_by_email %}

            <hr/>
            <p><strong>Skills</strong> <small class="help-inline">Technologies, languages, and any other skills.</small> </p>
            {% render_field form.tags id="user-tags" class="input-block-level" placeholder=form.tags.label %}
            <p>
                <strong>About</strong><small class="help-inline">A few words about yourself, markdown supported.</small>
            </p>
            {% render_field form.about class="input-block-level" rows="5" placeholder=form.about.label %}

            <p>
                <button type="submit" class="btn btn-success">Save</button>
            </p>
        </form>
    </div>
</div>
{% endblock %}
