{% extends 'joltem/base.html' %}

{% load widget_tweaks %}

{% block scripts %}
    {{ block.super }}
    {% include 'joltem/includes/tag-scripts.html' with tag_input_id="user-tags" %}
{% endblock %}

{% block content %}
    <h3>Tags</h3>
    <form action="" method="post" class="form-horizontal" id="account-general-settings-form" >
        {% csrf_token %}
        {% render_field form.tags id="user-tags" class="input-block-level" placeholder=form.tags.label %}
        <p>
            <button type="submit" class="btn btn-success">Save</button>
        </p>
    </form>
{% endblock %}
