<a href="{% url urlname project.name %}">
    <div class="panel panel-{{ status|default:"info" }}">
        <div class="panel-heading">
            <div class="row-fluid">
                <div class="span4">
                    <i class="fa fa-{{ icon|default:"comments" }} fa-5x"></i>
                </div>
                <div class="span8 text-right">
                    <h2>{{ count }}</h2>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 text-center">
                    <p>{{ desc }}</p>
                </div>
            </div>
        </div>
    </div>
</a>
