{% load django_markdown %}
<hr class="hidden-tablet hidden-desktop"/>
<div class="row">
    <div class="offset1 span6">
        <p>
            <i class="fa fa-tasks"></i>
            <a class="muted" href="{{ task.get_absolute_url }}">{{ task.title }}</a>
            {% if task.is_closed %}
                <span class="label label-info">closed</span>
            {% elif not task.is_reviewed%}
                <span class="label label-warning">review</span>
            {% elif not task.is_accepted%}
                <span class="label label-important">rejected</span>
            {% endif %}
        </p>
        {% if not task.is_closed %}
            {% if not task.is_reviewed or task.is_accepted %}
                {% if task.description %}
                    <div class="muted feed-description">{{ task.description|markdown }}</div>
                {% else %}
                    <div class="muted feed-description"><p>Task has not been described yet.</p></div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    <div class="span2 text-center">
        <small class="muted">{{ task.time_updated|timesince }} ago.</small>
    </div>
</div>
