{% load markup %}
<hr class="hidden-tablet hidden-desktop"/>
<div class="row clearfix">
    <img class="img-rounded pull-right hidden-tablet hidden-desktop" src="{{ solution.owner.gravatar }}?s=50" />
    <div class="span1 text-center hidden-phone">
        <p>
            <img class="img-rounded" src="{{ solution.owner.gravatar }}?s=50" />
        </p>
    </div>
    <div class="span6">
        <p>
            <i class="fa fa-briefcase"></i>
            <a class="muted" href="{% url 'project:solution:solution' solution.project.id solution.id %}">{{ solution.default_title }}</a>
            {% if solution.is_closed %}
                <span class="label label-info">closed</span>
            {% elif solution.is_archived %}
                <span class="label label-info">archived</span>
            {% elif solution.is_completed %}
                <span class="label label-warning">review</span>
            {% endif %}
        </p>
        {% if not solution.is_closed and not solution.is_archived %}
            {% if solution.description %}
                <blockquote class="muted">{{ solution.description|markdown:"tables,fenced_code" }}</blockquote>
            {% else %}
                <blockquote class="muted"><p>Solution has not been described yet.</p></blockquote>
            {% endif %}
        {% endif %}
    </div>
    <div class="span2 text-center">
        <small class="muted">{{ solution.time_updated|timesince }} ago.</small>
    </div>
</div>